$hover-color:#5f1616;

@mixin flex{
  display: flex;
  flex-direction: column;
}

.container{
  @include flex;
  align-items: center;
  justify-content: center;
}

.buttons{
  
  @include flex;
  gap:20px
}
button{
  font-size: 20px;
  padding:10px;
  border-radius: 10px;
  &:hover{
    background-color: $hover-color;
  }
}
